<div class="flex-item">Datos Personales</div>
<table class="table table-responsive table-sm table-bordered table-striped">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>edad</th>
        <th>Email</th>
        <th>Telefono</th>
    </tr>
    <tr>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>{{edad}}</td>
        <td>{{email}}</td>
        <td>{{telefono}}</td>
    </tr>
</table>